nav ul a,
nav .brand-logo {
  color: #444;
}

body {
  /* background-image: url("../background.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dddddd;
}

h1, h2, h3, h4, h5, h6 {
  color: #3caed1;
}

.listItems {
  /* color: #ccc; */
  color: #444;
}

p {
  line-height: 2rem;
  /* color: #d1e8e2; */
  color: #444;

}

.contactSection {
  border-top: 4px solid #7395ae;
}

.meSection {
  /* background-color: #; */
  border-bottom: 4px solid #7395ae;
}

.projectsHeader {
  color: white;
}

.portfolioSection {
  border-top: 4px solid #7395ae;
  background-color: #b9b5b5;
}

.card {
  background-color: #cecece;
  border: 2px solid #7395ae;
}

.navStyle {
  border-bottom: 2px solid #7395ae;
}

.footerStyle {
  /* border-top: 2px solid #7395ae; */
}

.navStyle, .footerStyle {
  background-color: #cecece;
}

.sidenav-trigger {
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
