nav ul a,
nav .brand-logo {
  color: #444;
}

body {
  /* background-image: url("../background.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: #272727;
}

h1, h2, h3, h4, h5, h6 {
  color: #14a76c;
}

.listItems {
  color: #ccc;
}

p {
  line-height: 2rem;
  color: #d1e8e2;
}

.meSection {
  /* background-color: #; */
  /* border-bottom: 2px solid #7395ae; */
}

.portfolioSection {
  /* background-color: #; */
}

.card {
  background-color: #272727;
  border: 2px solid #14a76c;
}

.navStyle {
  /* border-bottom: 2px solid #7395ae; */
}

.footerStyle {
  /* border-top: 2px solid #7395ae; */
}

.navStyle, .footerStyle {
  background-color: #272727;
}

.sidenav-trigger {
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
